.app {
    max-width: 1000px;
    margin-left: 128px;
}

.side-bar{
    position: fixed;
    top: 0;
    left: 0;
    padding: 12px 0 0;
    max-width: 114px;
    width: 100%;
    box-sizing: border-box;
    min-height: 100%;
    z-index: 99;
    margin: 0;
    transition: all .3s linear;
    background: white;
    border-right: 1px solid #dbdbdb;
}

.side-bar{
    display: flex;
    flex-direction: column;
}

.side-bar__item{
    padding: 24px 0;
    margin-bottom: 8px;
    text-align: center;
    text-decoration: none;
    color: black;
    background-color: #dbdbdb;
}
